<template>
  <v-app>
    <app-toolbar :title="$t('appl.title')">
      <v-toolbar-items slot="buttons" class="hidden-xs-only">
        <v-btn flat @click.prevent="logout">
          <v-icon>exit_to_app</v-icon> Logout
        </v-btn>
      </v-toolbar-items>
    </app-toolbar>
    <v-content>
      <router-view/>
    </v-content>
    <app-footer :copyright="$t('appl.copyright')"></app-footer>
  </v-app>
</template>

<script>
import { AppFooter, AppToolbar } from '@/modules/layout'

export default {
  components: {
    AppFooter,
    AppToolbar
  },
  methods: {
    logout () {
      this.$hoodie.account.signOut().then(() => {
        this.$router.push('/')
      }).catch(error => {
        console.error(error)
      })
    }
  }
}
</script>
