<template>
  <v-footer app>
    <span v-html="copyright" class="copyright"></span>
  </v-footer>
</template>

<script>
export default {
  name: 'AppFooter',
  props: [
    'copyright'
  ]
}
</script>

<style scoped>
</style>
