<template>
  <v-toolbar app
             clipped-left
             dark
             color="primary"
             fixed>
    <v-toolbar-title v-text="title"></v-toolbar-title>
    <v-spacer></v-spacer>
    <slot name="buttons"></slot>
  </v-toolbar>
</template>

<script>
export default {
  name: 'AppToolbar',
  props: [
    'title'
  ]
}
</script>

<style scoped>
</style>
