<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-form @submit.prevent="signup">
          <v-card>
            <v-toolbar dark color="primary">
              <v-toolbar-title>{{$t('public.signup.title')}}</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-text-field name="userid"
                            type="text"
                            prepend-icon="person"
                            :label="$t('public.signup.fields.userid')"
                            v-model='userid'></v-text-field>
              <v-text-field name="passwd"
                            type="password"
                            prepend-icon="lock"
                            :label="$t('public.signup.fields.passwd')"
                            v-model='passwd'></v-text-field>
              <p v-if="error">{{ error }}</p>
            </v-card-text>
            <v-card-actions>
              <v-btn type="submit" color="primary">{{$t('public.signup.buttons.signup')}}</v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      userid: '',
      passwd: '',
      error: ''
    }
  },
  methods: {
    signup () {
      this.$hoodie.account.signUp({
        username: this.userid,
        password: this.passwd
      }).then((accountProperties) => {
        this.$router.push('/login')
      }).catch(error => {
        this.error = error.message
      })
    }
  }
}
</script>

<style scoped>
</style>
